<html>
<head>

	<link rel="stylesheet" href="ext_index_style.css">
    <link rel="stylesheet" th:href="@{/css/ext_index_style.css}">
    <script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>

    <div class="image">
		<img th:src="@{/css/european-union.png}">
	</div>
	
	<h1>Choose your nation</h1>
	<select name="country" class="selectionBar" id="country">
        <option value="0" label="Select a country ... " selected="selected">Select a country ... </option>
        <option value="AU" label="Austria">Austria</option>
        <option value="BE" label="Belgium">Belgium</option>
        <option value="BU" label="Bulgaria">Bulgaria</option>
        <option value="HR" label="Croatia">Croatia</option>
        <option value="CY" label="Cyprus">Cyprus</option>
        <option value="CZ" label="Czech Republic">Czech Republic</option>
        <option value="DK" label="Denmark">Denmark</option>
        <option value="EE" label="Estonia">Estonia</option>
        <option value="FI" label="Finland">Finland</option>
        <option value="FR" label="France">France</option>
        <option value="DE" label="Germany">Germany</option>
        <option value="GR" label="Greece">Greece</option>
        <option value="HU" label="Hungary">Hungary</option>
        <option value="IE" label="Ireland">Ireland</option>
        <option value="IT" label="Italy" selected>Italy</option>
        <option value="LV" label="Latvia">Latvia</option>
        <option value="LT" label="Lithuania">Lithuania</option>
        <option value="LU" label="Luxembourg">Luxembourg</option>
        <option value="MT" label="Malta">Malta</option>
        <option value="NL" label="Netherlands">Netherlands</option>
        <option value="PL" label="Poland">Poland</option>
        <option value="PT" label="Portugal">Portugal</option>
        <option value="RO" label="Romania">Romania</option>
        <option value="SK" label="Slovakia">Slovakia</option>
        <option value="SI" label="Slovenia">Slovenia</option>
        <option value="ES" label="Spain">Spain</option>
        <option value="SE" label="Sweden">Sweden</option>
    </select>

	<h1>Choose your role</h1>
	<select name="role" class="selectionBar" id="role">
        <option value="0" label="Select role ... " selected="selected">Select a role ... </option>
        <option value="citizen" label="Citizen">Citizen</option>
        <option value="national representative" label="national representative">National Representative</option>	
    </select>

    <br><br><br>
    <button class="button" onclick="selection();">Enter the site</button>
    
</div>

</body>
</html>