<html>
<head>

	<!-- <link rel="stylesheet" href="style.css"> -->
	<link rel="stylesheet" th:href="@{/css/citizen_style.css}">

</head>
<body>

	<!--Navbar-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="navbar">
	<a class="active" href="nav-link"><i class="fa fa-fw fa-home"></i> Home</a>
	<div class="dropdown2">
		<button class="btn"><i class="fa fa-fw fa-user"></i>User</button>
		<div class="dropdown-menu">
		  <a href="nav-link"></i>Logout</a>
		</div>
	  </div>
	<div class="dropdown">
		<button class="btn"><i class="fa fa-fw fa-pencil"></i>Referendum</button>
		<div class="dropdown-menu">
		  <a href="referendum-idea"></i>Referendum Idea</a>
		  <a href="propose-idea">Propose Idea</a>
		</div>
	  </div>
	  <a href="nav-link"><i class="fa fa-fw fa-gear"></i> Settings</a>
	</div>

<!-- Boxes-->
	<h3 style="text-align: center;">Latest notifications</h3>

	<div class="box"> 
		<a href="new-referendum">
		<h2 id="boxTitle">New Referendum</h2>
		<h3 id="boxType">Referendum</h3>
		<p id="boxDate">21/08/2023, 17:43</p>
		</a>
	</div>

	<div class="box" id="box2"> 
		<a href="new-referendum-idea">
		<h2 id="boxTitle">New Referendum Idea</h2>
		<h3 id="boxType">Referendum Idea</h3>
		<p id="boxDate">21/08/2023, 16:24</p>
		</a>
	</div>

	<div class="box" id="box3"> 
		<a href="threshold-reached">
		<h2 id="boxTitle">Reached Threshold</h2>
		<h3 id="boxType">Referendum Idea</h3>
		<p id="boxDate">21/08/2023, 15:13</p>
		</a>
	</div>


</body>
</html>