<html>
<head>

	<link rel="stylesheet" th:href="@{/css/citizen_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>


</head>
<body>

	<!--Navbar-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="navbar">
	<script>
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const id = urlParams.get('nationalID');
		document.write('<a class="active" href="/citizen/home?nationalID=' + id + '"><i class="fa fa-fw fa-home"></i> Home</a>');
	</script>
	<div class="dropdown2">
		<button class="btn"><i class="fa fa-fw fa-user"></i>User</button>
		<div class="dropdown-menu">
		  <a href="/" onclick="deleteCookie('nation')"></i>Logout</a>
		</div>
	  </div>
	<div class="dropdown">
		<button class="btn"><i class="fa fa-fw fa-pencil"></i>Referendum</button>
		<div class="dropdown-menu">
			<script>
				document.write('<a href="/citizen/referendum?nationalID=' + id + '"></i>Referendum List</a>');
			</script>
		</div>
	  </div>
	  <a href=""><i class="fa fa-fw fa-gear"></i> Settings</a>
	</div>

	<div>
		<div>
			<img th:src="@{/images/european-union.png}" style="display: block; margin: 0 auto; margin-top: 2%;">
		</div>
		<h1 style="text-align: center">Welcome to the</h1>
		<h1 style="text-align: center">EUROPEAN PARLIAMENT ONLINE PLATFORM</h1>
	</div>


</body>
</html>
