<html>
<head>
	
	<link rel="stylesheet" th:href="@{/css/citizen_index_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>

	<script>
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const nation = getCookie('nation');
		if (urlParams.size > 1) window.location.replace('http://localhost:8080/citizen');
	</script>


	<div class="center">
		<div class="img">
			<img th:src="@{${'/images/' + nation + '.png'}}">
		</div>
		<h1>European Parliament</h1>
		<h3>Citizen Access</h3>

		<button class=button onclick="location.href = '/citizen/registration?nation=' + nation ">Registration</button>
		<br><br>
		<button class=button onclick="location.href = '/citizen/login?nation=' + nation ">Login</button>

	</div>


</body>
</html>
