<html>
<head>
	
	<link rel="stylesheet" th:href="@{/css/citizen_index_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>


	<div class="center">
		<div class="img">
			<img th:src="@{/images/european-union.png}">
		</div>
		<h1>European Parliament</h1>
		<h3>Citizen Access</h3>
		
		<button class=button onclick="location.href='citizen/registration';">Registration</button>
		<br><br>
		<button class=button onclick="location.href='citizen/login';">Login</button>
	</div>


</body>
</html>
