<html>
<head>

	<link rel="stylesheet" href="citizen_index_style.css">
	<link rel="stylesheet" th:href="@{/css/citizen_index_style.css}">


</head>
<body>


	<div class="center">
		<div class="image">
			<img id="itaFlag" src="european-union.png">
		</div>
		<h1>European Parliament</h1>
		<h3>Citizen Access</h3>
		
		<button class=button onclick="location.href='citizen/registration';">Registration</button>
		<br>
		<br>
		<button class=button onclick="location.href='citizen/login';">Login</button>
	</div>


</body>
</html>