<html>
<head>

	<!-- <link rel="stylesheet" href="forms_style.css"> -->
	<link rel="stylesheet" th:href="@{/css/citizen_forms_style.css}">

</head>
<body>

	<div>
		<h1 style="text-align: center;">European Parliament</h1>
			<div class="image">
				<img id="itaFlag" src="italy.png">
			</div>
		<br><br><br>
		<h2 style="text-align: center;">Citizen Login</h2>
	</div>
	
	<div style="text-align: center;">
		<label style="font-size: 16px; text-align: center;" for="uname"><b>Username</b></label>
		<input class="textarea" type="text" placeholder="Enter Username" name="uname" required>
	</div>
	
	<div style="text-align: center;">
		<label style="font-size: 16px;" for="psw"><b>Password</b></label>
		<input class="textarea" type="password" placeholder="Enter Password" name="psw" required>
	</div>
	
	<div style="text-align: center;">
		<label style="font-size: 16px; text-align:center;">
			<input type="checkbox" checked="checked" name="remember">Remember me</label>
	</div>
	
	<br><br>
	
	<div style="text-align: center;">
		<button class="button" type="submit" onclick="location.href='home';">Login</button>
	</div>
	
</body>
</html>