<html>
<head>

	<link rel="stylesheet" href="style.css">

</head>
<body>

	<!--Chiara-->
	<!--Navbar-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="navbar">
		<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
		<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
		<b href="#"><i class="fa fa-fw fa-user"></i> User</b>
		<div class="dropdown">
			<button class="btn"><i class="fa fa-fw fa-pencil"></i>Referendum</button>
			<div class="dropdown-menu">
			  <a href="#"></i>Referendum Idea</a>
			  <a href="#">Propose Idea</a>
			</div>
		  </div>
		</div>

	
	<!--Text Box for Ideas Proposals-->

	

	<!-- Pasquale
	<nav id="navbar">
	 <a class="nav-link" href="home">Home</a>
	    
	  <div name="referendum-dropdown" id="referendum-dropdown">
	    <button class="dropbtn"><a href="referendum">Referendum</a></button>
	    <div class="dropdown-content">
	      <a href="ideas">Referendum ideas</a>
	      <a href="propose">Propose idea</a>
	    </div>
	  </select>
	  
	  <a class="nav-link" href="#">Settings</a>
	  <a class="nav-link" href="#">User</a> 
	</nav>
	
	<form action="" onsubmit="confirmAction()">
	  <label for="idea-title">Title</label>
	  <input type="text" id="idea-title" name="idea-title"><br><br>
	  <label for="idea-text">Text</label>
	  <input type="text" id="idea-text" name="idea-text"><br><br>
	  <input type="submit" value="Submit">
	</form>
	
	<script>
		function confirmAction() {
	        let confirmAction = confirm("Are you sure to propose this referendum idea?");
	        if (confirmAction) {
	          alert("Referendum idea proposed.");
	        } else {
	          alert("Proposal canceled.");
	        }
      	}
	</script>
	!-- Redirect to referendum onclick="location.href='referendum';" in case of success --
	-->

</body>
</html>