<html>
<head>

	<link rel="stylesheet" href="style.css">

</head>
<body>
	<nav id="navbar">
	 <a class="nav-link" href="home">Home</a>
	    
	  <div name="referendum-dropdown" id="referendum-dropdown">
	    <button class="dropbtn">Referendum
	      <i class="fa fa-caret-down"></i>
	    </button>
	    <div class="dropdown-content">
	      <a href="#">Referendum ideas</a>
	      <a href="#">Propose idea</a>
	    </div>
	  </select>
	  
	  <a class="nav-link" href="#">Settings</a>
	  <a class="nav-link" href="#">User</a> 
	</nav>

	<div class="referendum">
		<h3>Referendum 1</h3>
		<!-- Nation flag --> 
		<button>Vote/Results</button>
		<p>Valid until/expired </p>
	</div>
	
</body>
</html>