<html>
<head>

	<link rel="stylesheet" href="citizen_style.css">
	<link rel="stylesheet" th:href="@{/css/citizen_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>
	<!--Navbar-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="navbar">
	<a class="active" href="nav-link"><i class="fa fa-fw fa-home"></i> Home</a>
	<div class="dropdown2">
		<button class="btn"><i class="fa fa-fw fa-user"></i>User</button>
		<div class="dropdown-menu">
			<a href="nav-link"></i>Logout</a>
		</div>
		</div>
	<div class="dropdown">
		<button class="btn"><i class="fa fa-fw fa-pencil"></i>Referendum</button>
		<div class="dropdown-menu">
			<a href="referendum-idea"></i>Referendum Idea</a>
			<a href="propose-idea">Propose Idea</a>
		</div>
		</div>
		<a href="nav-link"><i class="fa fa-fw fa-gear"></i> Settings</a>
	</div>

	<!-- BOX VALID + THRESHOLD REACHED -->	
	<br><br>	
	<div class="box"> 
		<div>
			<h2 style="color: white; background-color: green; -webkit-text-stroke: 0.2px black;">&nbsp&nbspThreshold reached!&nbsp&nbsp</h2>
			<img style="float: right;" src="italy.png">
			<h3>Referendum Idea 1</h3> 
			<p class="text">This referendum idea is about ... </p>
			<p style="float: right;">Valid until 31/12/2023, 23:59</p>
		</div>
		<div style="text-align: left;">
			<button class="button" onclick="alert('Thank you!Your vote has been correctly registered!');">Support</button>
			<button class="button" onclick="location.href='referendum_ideas_results.html';">Results</button>	
		</div>
	</div>

	<!-- BOX VALID -->	
	<br>
	<div class="box"> 
		<div>
			<img style="float: right;" src="italy.png">
			<h3>Referendum Idea 1</h3> 
			<p class="text">This referendum idea is about ... </p>
			<p style="float: right;">Valid until 31/12/2023, 23:59</p>
		</div>
		<div style="text-align: left;">
			<button class="button" onclick="alert('Thank you!Your vote has been correctly registered!');">Support</button>
			<button class="button" onclick="location.href='referendum_ideas_results.html';">Results</button>	
		</div>
	</div>

	<!-- BOX EXPIRED (NO THRESHOLD)-->
	<br>
	<div class="box"> <!-- forse da togliere l'id? -->
		<div>
			<img style="float: right;" src="european-union.png">
			<h3>Referendum Idea 2</h3> 
			<p class="text">This referendum idea is about ... </p>
			<p style="float: right;">Expired</p>
		</div>
		<div style="text-align: left;">
			<button class="button" onclick="location.href='referendum_ideas_results.html';">Results</button>	
		</div>
	</div>



		
	
	
	
	
</body>
</html>