<html>
<head>

	<!--link rel="stylesheet" th:href="@{/css/style.css}"-->
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>
	<h1>European Parliament</h1>
	<!-- Nation flag -->
	<h3>Registration</h3>
	<!-- Nation flag -->
	<p>* fields are mandatory</p> 
	
	<form onsubmit="citizen_registration()">
	  <label for="name">Name*</label>
	  <input type="text" id="name" name="name" required><br><br>
	  <label for="surname">Surname*</label>
	  <input type="text" id="surname" name="surname" required><br><br>
	  <label for="gender">Gender*</label>
	  <select name="gender" id="gender" required>
	  	<option value=""></option>
	  	<option value="male">M</option>
	  	<option value="female">F</option>
	  	<option value="other">Other</option>
	  </select><br><br>
	  <label for="birthdate">Birthdate*</label>
	  <input type="date" id="birthdate" name="birthdate" required><br><br>
	  <label for="nation_of_birth">Nation of birth*</label>
	  <input type="text" id="nation_of_birth" name="nation_of_birth"required><br><br>
	  <label for="region_of_birth">Region of birth*</label>
	  <input type="text" id="region_of_birth" name="region_of_birth" required><br><br>
	  <label for="city_of_birth">City of birth*</label>
	  <input type="text" id="city_of_birth" name="city_of_birth" required><br><br>
	  <label for="region">Region*</label>
	  <input type="text" id="region" name="region" required><br><br>
	  <label for="city">City*</label>
	  <input type="text" id="city" name="city" required><br><br>
	  <label for="national_id">National ID*</label>
	  <input type="text" id="national_id" name="national_id" required><br><br>
	  <label for="email">Email*</label>
	  <input type="text" id="email" name="email" required><br><br>
	  <p>Note: the email will be your username</p>
	  <label for="confirm_email">Confirm Email*</label>
	  <input type="text" id="confirm_email" name="confirm_email" required><br><br>
	  <label for="cellular">Cellular</label>
	  <input type="text" id="cellular" name="cellular"><br><br>
	  <label for="password">Choose a password*</label>
	  <input type="text" id="password" name="password" required><br><br>
	  <label for="confirm_password">Confirm password*</label>
	  <input type="text" id="confirm_password" name="confirm_password" required><br><br>
	  
	  <input type="submit" value="Register">
	</form>
</body>
</html>
