<html>
<head>

	<link rel="stylesheet" href="citizen_forms_style.css">
	<link rel="stylesheet" th:href="@{/css/citizen_forms_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>

<div>
	<h1 style="text-align: center;">European Parliament</h1>
	<div class="img">
		<img src="italy.png" id="flagReg">
	</div>
	
	<div>
		<h2 style="text-align: center;">Registration</h2>
		<p style="text-align: center;"><i>* fields are mandatory</i></p>
		<form class="centerPage" onsubmit="citizen_registration()">
		<br><br>
		<label for="name">Name*</label>
		<input style="float: right;" id="name" name="name" required><br><br>
		<label for="surname">Surname*</label>
		<input style="float: right;" name="text" id="surname" name="surname" required><br><br>
		<label for="gender">Gender*</label>
		<input style="float: right;" type="text" id="gender" name="gender" required><br><br>
		<label for="birthdate">Birthdate*</label>
		<input style="float: right;" type="text" id="birthdate" name="birthdate" required><br><br>
		<label for="nation_of_birth">Nation of birth*</label>
		<input style="float: right;" type="text" id="nation_of_birth" name="nation_of_birth" required><br><br>
		<label for="region_of_birth">Region of birth*</label>
		<input style="float: right;" type="text" id="region_of_birth" name="region_of_birth" required><br><br>
		<label for="city_of_birth">City of birth*</label>
		<input style="float: right;" type="text" id="city_of_birth" name="city_of_birth" required><br><br>
		<label for="region">Region*</label>
		<input style="float: right;" type="text" id="region" name="region" required><br><br>
		<label for="city">City*</label>
		<input style="float: right;" type="text" id="city" name="city" required><br><br>
		<label for="national_id">National ID*</label>
		<input style="float: right;" type="text" id="national_id" name="national_id" required><br><br>
		<p><i>Note: the email will be your username</i></p>
		<label for="email">Email*</label>
		<input style="float: right;" type="text" id="email" name="email" required><br><br>
		<label for="confirm_email">Confirm Email*</label>
		<input style="float: right;" type="text" id="confirm_email" name="confirm_email" required><br><br>
		<label for="cellular">Cellular</label>
		<input style="float: right;" type="text" id="cellular" name="cellular"><br><br>
		<label for="password">Choose a password*</label>
		<input style="float: right;" type="text" id="password" name="password" required><br><br>
		<label for="confirm_password">Confirm password*</label>
		<input style="float: right;" type="text" id="confirm_password" name="confirm_password" required><br><br>
		<br>
	<div style="text-align: center;">
		<button class="button">Sign up</button>
	</div>
  	</div>
</div>

</body>
</html>