<html>
<head>

	<link rel="stylesheet" th:href="@{/css/inst_forms_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body>

<div class="center">
	<div>
		<h1 style="text-align: center;">European Parliament</h1>
			<div>
				<img th:src="@{${'/images/' + nation + '.png'}}" id="flagLogin">
			</div>
		<h2 style="text-align: center;">Institutional Login</h2>
	</div>

	<form>
		<div style="text-align: center;">
			<label style="font-size: 16px; text-align: center;" for="representativeID"><b>Username</b></label>
			<br>
			<input class="textarea" type="text" placeholder="Enter Username" id="representativeID" name="representativeID" required>
		</div>
		
		<div style="text-align: center;">
			<label style="font-size: 16px;" for="psw"><b>Password</b></label>
			<br>
			<input class="textarea" type="password" placeholder="Enter Password" id="psw" name="psw" required>
		</div>

		<input type="hidden" id="nation" name="nation" th:value="${nation}">
		
		<br><br>
		
		<div style="text-align: center;">
			<button class="button" type="submit">Login</button>
		</div>
	</form>
</div>
	
</body>
</html>
