<html>
<head>
</head>
<body>
	<nav id="navbar">
	 <a class="nav-link" href="home">Home</a>
	    
	  <div name="referendum-dropdown" id="referendum-dropdown">
	    <button class="dropbtn"><a href="referendum">Referendum</a></button>
	    <div class="dropdown-content">
	      <a href="ideas">Referendum ideas</a>
	      <a href="propose">Propose idea</a>
	    </div>
	  </select>
	  
	  <a class="nav-link" href="#">Settings</a>
	  <a class="nav-link" href="#">User</a> 
	</nav>
	
	<form action="">
	  <label for="ref-title">Title</label>
	  <input type="text" id="ref-title" name="ref-title"><br><br>
	  <label for="ref-text">Text</label>
	  <!-- Flag selection: national or European -->
	  <input type="text" id="ref-text" name="ref-text"><br><br>
	  <input type="submit" value="Submit">
	</form>
	<button onclick="location.href='referendum';">Submit</button>
	
	
</body>
</html>