<html>
<head>
</head>
<body>
	<nav id="navbar">
	 <a class="nav-link" href="home">Home</a>
	    
	  <div name="referendum-dropdown" id="referendum-dropdown">
	    <button class="dropbtn"><a href="referendum">Referendum</a></button>
	    <div class="dropdown-content">
	      <a href="ideas">Referendum ideas</a>
	      <a href="propose">Propose idea</a>
	    </div>
	  </select>
	  
	  <a class="nav-link" href="#">Settings</a>
	  <a class="nav-link" href="#">User</a> 
	</nav>
	
	<div class="referendum-idea">
		<h3>Referendum Idea 1</h3>
		<!-- Nation flag --> 
		<button>Support/Results</button>
		<p>Valid until/expired </p>
		<!-- Threshold Reached if reached -->
	</div>
	
	
</body>
</html>