<html>
<head>
	
	<link rel="stylesheet" th:href="@{/css/inst_style.css}">
	<script type="text/javascript" th:src="@{/js/file.js}"></script>

</head>
<body onload="get_referendum_inst()">
	
	<!--Navbar-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="navbar">
		<a class="active" href="/inst/home"><i class="fa fa-fw fa-home"></i> Home</a>
		<div class="dropdown2">
			<button class="btn"><i class="fa fa-fw fa-user"></i>ISTUser</button>
			<div class="dropdown-menu">
				<a href="/"></i>Logout</a>
			</div>
			</div>
		<div class="dropdown">
			<button class="btn"><i class="fa fa-fw fa-pencil"></i>Referendum</button>
			<div class="dropdown-menu">
				<a href="/inst/propose"></i>Propose Referendum</a>
				<a href="/inst/referendum"></i>Referendum List</a>
			</div>
		</div>
			<a href=""><i class="fa fa-fw fa-gear"></i> Settings</a>
	</div>
	
	<!-- Referendum Boxes -->

	<h3 style="text-align: center" class="text">Referendum</h3>

	<div id="referendum_container"></div>
	
</body>
</html>
