body {
    margin: 25px;
    background-color: #003399;
    background-repeat: no-repeat;
    background-size: 1190px 650px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    color: #FFCC00;
  }

  .centerTop{
    position: absolute;
    top: 70%;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centerPage{
    position: absolute;
    top: 65%;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%, -50%);
  }

   /* flags */
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #flagReg{
    max-width: 5%;
    max-height:5%;
  }

  #flagLogin{
    max-width: 10%;
    max-height:10%;
  }

.button {
  position: center;
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.00rem;
}

/* texts */

.textarea {
  padding: 5px;
  border-radius: 15px;
  width: 20%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 10px 0;
}

 /* to center the image in the window */
 .center {
  margin: auto;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


