body {
    margin: 0px;
    background-color: #003399;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFCC00;
  }

  /* to center the image in the window */
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

	/* buttons */
	.button {
		background-color: white;
		border: none;
		border-radius: 12px;
		color: black;
		padding: 10px 24px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.00rem;
	  }

    img {
      max-width: 10%;
      max-height:10%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
