body {
    margin: 0px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    text-align: left;
  }

/* navbarestyle */
.navbar {
    overflow: hidden;
    background-color: #003399;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: 	#FFCC00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar b {
    float: right;
    font-size: 16px;
    color: 	#FFCC00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* dropdown style: dropdwon is the referendum one, dropdown2 is the user one */

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown2 {
    float: right;
    overflow: hidden;
  }

  .dropdown .btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FFCC00;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown2 .btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FFCC00;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.navbar a:hover, .dropdown:hover .btn {
    background-color: blue;
  }

  .navbar a:hover, .dropdown2:hover .btn {
    background-color: blue;
  }

.navbar b:hover, .dropdown:hover .btn {
    background-color: blue;
  }

  .navbar b:hover, .dropdown2:hover .btn {
    background-color: blue;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #003399;
    min-width: 83px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

      }

  .dropdown-menu a {
    float: none;
    color: #FFCC00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-menu a:hover {
    background-color: blue;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown2:hover .dropdown-menu {
    display: block;
  }

/* boxes */

  .box {
      width: 600px;
      padding: 30px;
      border: 5px solid #003399;
      margin: 5;

      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .textarea {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin:10px 0;
  }


/* testi */

/*form*/
.text{
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

  
/* buttons */
.button {
    background-color: #003399;
    border: none;
    border-radius: 12px;
    color: FFCC00;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: auto;
    }
    
.button_disabled {
    background-color: #37859b;
    border: none;
    border-radius: 12px;
    color: FFCC00;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: auto;	
	}

   /* to center the something in the window */
   .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centerTop{
    position: absolute;
    top: 65%;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* poll */
 section {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 70%;
    left: 60%;
    width: 60%;
  }
  
  .BlueBar {
      height:30px;
      margin:10px 0px 10px 0px;
      background-color:#003399;
  }

  /* flags */
  img {
    max-width: 10%;
    max-height:10%;
  }

   /* radio button */
   .radio-button {
    position: absolute;
    left: 45%;
    top: 50%;
     }
     
       
     
  

 
   




